<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ nameRestaurantDetail }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="share()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <img src="http://sittikiat.streetfood.in.th/images/{{ imgRestaurantDetail }}" />
    <ion-list>
      <button ion-item>
        <p>
          <rating [(ngModel)]="rateRestaurantDetail" max="5" readOnly="true" style="margin:0%; padding: 0%;"></rating>
        </p>
      </button>
      <button ion-item>
        <p>
          <ion-icon name="map"></ion-icon> {{ addressRestaurantDetail }}
        </p>
      </button>
    </ion-list>

    <ion-row>
      <ion-col>
        <button ion-button clear icon-only full color="dark" (click)="takeCamera()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear icon-only full color="dark" (click)="openAlbum()">
          <ion-icon name="images"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear icon-only full color="dark" (click)="goMap()">
          <ion-icon name="map"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-slides class="image-slider" slidesPerView="2.5">
      <ion-slide *ngFor="let image of imagesRestaurantDetail">
        <img class="thumb-img" src="http://sittikiat.streetfood.in.th/images/{{ image.name_restaurant_image }}" imageViewer>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <b>Comment</b>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="postComment(comment.value)">
        <ion-item>
          <ion-input type="text" placeholder="ร้านอาหารนี้เป็นยังไงบ้าง..." #comment></ion-input>
          <button small type="submit" ion-button item-end>Post</button>
        </ion-item>
      </form>
    </ion-card-content>

  </ion-card>

  <ion-list>

    <ion-item *ngFor="let c of commentRes; let i = index">
      <h2>ความคิดเห็นที่ {{ i + 1 }} <ion-icon name="text"></ion-icon></h2>
      <p>{{ c.detail_comment }}</p>
    </ion-item>  
    
  </ion-list>

</ion-content>